
.Login {
  border-radius: 8px;
  margin-top: 5%;
  margin-left: 20%;

  height: 30hv;
  font-weight: bold;
  border:2px solid rgb(214, 209, 209);
  width: 25rem;
}

.paddingButton {
  margin: 15px 0;
}
.topForm {
  background-color: rgb(231, 229, 225);
  border-bottom: 2px solid rgb(214, 209, 209);
  font-weight: bold;
}

.formClass{
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: bold;
}

.passwordClass {
  padding-top: 3%;
}

.Title {
  padding-left: 5%;
  padding-top: 2%;
  background-color:rgb(231, 229, 225);
  height: 15%;
  border-bottom: 2px solid rgb(214, 209, 209);
}

.GroupClass {
  padding-top:5% ;
  padding-left: 5%;
  padding-right: 5%;
}

.PasswordLabel {
  padding-top: 3%;
}
