.AddEmployee {
    padding-top: 0rem;
    margin-top: 15px;
    height: 50px;
}

// .unauthorized {
//     padding-top: 20rem;
//     // margin-top: 15px;
//     padding-left: 20rem;
//     height: 50px;
// }