.AddEmployee {
    padding-top: 0rem;
    margin-top: 15px;
    height: 50px;
}
.buttons {
    width: 6rem;
    height: 2rem;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
}

// .unauthorized {
//     padding-top: 20rem;
//     // margin-top: 15px;
//     padding-left: 20rem;
//     height: 50px;
// }