@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

$light: #ffffff;
$gray: #e7e9eb;



.navbar {
  background-color: $light;
  // padding: 1rem 2rem;
  border-bottom: 2px solid $gray
}
.containerMain {
  padding-left: 0;
  padding-right: 0;
}
.mainRow {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.mainCols {
  padding-left: 0;
  padding-right: 0;
}

.sidebar {
  // // width: calc(30vh - 10px);
  // width: 15rem;
  // resize: both;
  height: 100vh;
  max-height: 100%;
  // padding-left: 0%;
  // padding-right: 0%;
  border-right: 3px solid $gray;
  border-left: 3px solid $gray;
  background-color: $light;
  
  ul {
    list-style: none;
    padding: 1rem 0rem;
    
    margin-top: 0rem;
        li {
          border-bottom: 2px solid $gray;
          margin-bottom: 0rem;
          text-align: left;
      a {
        text-decoration: none;
        &.active {
          background-color:rgb(231, 229, 225);
        }
      }
    }
  }
}
.brand-image {
  margin-bottom: 13px; 
  padding:  0rem;
}
@media only screen and (max-width: 576px) {
  .sidebar {
    height: auto;
  }
}